/*
#3B3B3B
#FFB446
#FF9C09
#0067B2
#59B9FF
*/

body {
    background-color: #000000;
    color: #ffffff;
}

header {
    border-bottom: 1px solid #aaaaaa;
}

input, textarea {
    border: 1px solid #aaaaaa;
}

input:focus, textarea:focus {
    border: 1px solid #FF9C09;
}

div.buttons > input, div.buttons > a {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

div.buttons > input:hover, div.buttons > a:hover {
    background-color: #FF9C09;
}

div.buttons > input:active, div.buttons > a:active {
    background-color: #FFB446;
    border: 1px solid #FFB446;
    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.1);
}