body {
    margin: 0;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

.buttonLink {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: .9rem;
    padding: .5rem .8rem;
    margin: 0;
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.note-view {
    display: grid;
    grid-template-areas: "a b" "c c" "d d" "e .";
    border: 1px dotted darkgray;
    padding: 0;
    justify-content: space-between;
    margin-top: 1em;
}

.note-view .noteTitle {
    grid-area: a;
}

.noteImportance {
    justify-self: flex-end;
    grid-area: b;
}

.noteDescription {
    grid-area: d;
    height: 5em;
    overflow: hidden;
    resize: vertical;
    min-height: 3em;
}

.noteDone {
    grid-area: c;
}

.noteEdit {
    grid-area: e;
}


#topWrapper {
    display: grid;
    grid-template-areas: "a b" "c c" "d d";
    justify-content: space-between;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

#newNoteButton {
    grid-area: a;
}

#styleSwitchButton {
    grid-area: b;
}

#sortWrapper {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    grid-area: c;
    padding: 0;
}

#toggleFinishedButton {
    grid-area: d;
}

/**importance levels **/
.importanceLevel1::before {
    content: "\2605";
}

.importanceLevel2::before {
    content: "\2605\2605";
}

.importanceLevel3::before {
    content: "\2605\2605\2605";
}

.importanceLevel4::before {
    content: "\2605\2605\2605\2605";
}

.importanceLevel5::before {
    content: "\2605\2605\2605\2605\2605";
}

.message{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    height: 4em;
    align-content: center;
    justify-content: center;
}

@media (min-width: 60rem) {
    #topWrapper {
        grid-template-columns: 3fr 4fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a . b" "c . d";
        justify-content: space-between;
    }

    #sortWrapper {
        flex-direction: row;
    }

    .note-view {
        border: none;
        justify-content: space-between;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-areas: ". a b ." "c d d e";
    }
}