@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Black.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf"); }
/* Regular */
html {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0;
  padding: 0; }

main {
  margin: 1rem; }

header {
  margin-bottom: 2rem; }

h1 {
  font-size: 1.5rem;
  font-weight: 300; }

/* Notes */
.note-view {
  display: grid;
  grid-template-areas: "dueDate importance" "title ." "done ." "description description" "edit .";
  padding: .5rem 0;
  justify-content: space-between;
  margin-top: 1em;
  grid-column-gap: 1rem; }

.note-view > .noteTitle {
  align-self: flex-end;
  grid-area: title;
  margin: 0; }

.note-view > .noteImportance {
  align-self: flex-end;
  justify-self: flex-end;
  grid-area: importance;
  margin: 0; }

.note-view > .dueDate {
  padding: 0;
  margin: 0;
  align-self: flex-end;
  justify-self: flex-start;
  grid-area: dueDate; }

.note-view > .noteDescription {
  grid-area: description;
  margin: 0; }

.note-view > .noteDone {
  margin: 0;
  padding: 0;
  grid-area: done;
  align-content: flex-end; }

.note-view > .noteDone > input {
  margin: 0;
  padding: 0; }

.note-view > .noteEdit {
  grid-area: edit;
  align-self: center; }

#topWrapper {
  display: grid;
  grid-template-areas: "newNoteButton styleSwitchButton" "sortWrapper sortWrapper" "toggleFinishedButton toggleFinishedButton";
  justify-content: space-between; }

#newNoteButton {
  grid-area: newNoteButton; }

#styleSwitchButton {
  grid-area: styleSwitchButton; }

#sortWrapper {
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  grid-area: sortWrapper;
  padding: 0; }

#toggleFinishedButton {
  grid-area: toggleFinishedButton; }

/**importance levels **/
.importanceLevel1::before {
  content: "\2605"; }

.importanceLevel2::before {
  content: "\2605\2605"; }

.importanceLevel3::before {
  content: "\2605\2605\2605"; }

.importanceLevel4::before {
  content: "\2605\2605\2605\2605"; }

.importanceLevel5::before {
  content: "\2605\2605\2605\2605\2605"; }

.message {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 3px; }

form {
  display: grid;
  grid-template-columns: 1fr; }

label {
  font-weight: bold; }

label.checkboxLabel {
  font-weight: normal; }

input[type=checkbox] {
  width: auto; }

input, textarea {
  border-radius: 3px;
  margin: .5rem 0 1.5rem 0;
  padding: .5rem .8rem;
  font-family: inherit; }

textarea {
  resize: vertical;
  height: 5em;
  min-height: 3em; }

input[type=submit], a.buttonLink {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  width: auto;
  font-size: .9rem;
  padding: .5rem .8rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }

main.error {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main.error pre, main.error .error-img, main.error h1, main.error h2 {
    margin: .5rem 0; }
  main.error header {
    border: none;
    align-self: center;
    margin: 0; }
  main.error h1 {
    font-size: 5rem; }
  main.error h2 {
    text-align: center;
    font-weight: 100; }
  main.error .error-img {
    padding: 10rem;
    display: block;
    height: 10rem;
    width: 10rem;
    align-self: center; }
  main.error pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word; }

@media screen and (min-width: 30rem) {
  input[type=submit], a.buttonLink {
    width: 10rem; }

  #topWrapper a.buttonLink {
    width: auto; } }
@media screen and (min-width: 48rem) {
  form {
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem; }

  label {
    text-align: right;
    align-self: baseline;
    margin-top: .5rem; }

  label.checkboxLabel {
    grid-column-start: 2;
    text-align: left; }

  div.buttons {
    grid-column-start: 2; }

  input, textarea {
    margin: 0; }

  #topWrapper {
    grid-template-columns: 3fr 4fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "newNoteButton . styleSwitchButton" "sortWrapper . toggleFinishedButton";
    justify-content: space-between; }

  #topWrapper a.buttonLink {
    align-content: flex-end;
    width: 10rem; }

  #sortWrapper {
    flex-direction: row; }

  .note-view {
    border: none;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr 3fr auto;
    grid-template-areas: "dueDate title importance ." "done description description edit"; }

  main.error .error-img {
    width: 20rem;
    height: 20rem; } }

/*# sourceMappingURL=style.css.map */
